* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v72667_78 {
  width: 100%;
  height: 1099px;
  background: url("../images/v72667_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72667_80 {
  width: 1010px;
  height: 45px;
  background: rgba(42,44,46,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72656_195 {
  width: 100%;
  height: 381px;
  background: url("../images/v72656_195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 599px;
  left: 0px;
  overflow: hidden;
}
.v72656_196 {
  width: 504px;
  height: 378px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 507px;
  border: 1px solid rgba(229,229,229,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v72656_197 {
  width: 467px;
  height: 181px;
  background: rgba(119,119,119,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 523px;
  border: 0px solid rgba(150,150,150,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v72656_198 {
  width: 466px;
  height: 38px;
  background: url("../images/v72656_198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 323px;
  left: 523px;
  overflow: hidden;
}
.v72656_199 {
  width: 466px;
  height: 159px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v72656_202 {
  width: 466px;
  height: 38px;
  background: url("../images/v72656_202.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72656_203 {
  width: 466px;
  height: 38px;
  background: rgba(2,117,216,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(2,117,216,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v72656_204 {
  width: 283px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 92px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72656_205 {
  width: 507px;
  height: 381px;
  background: url("../images/v72656_205.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72656_215 {
  width: 507px;
  height: 381px;
  background: url("../images/v72656_215.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72656_216 {
  width: 507px;
  height: 381px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(229,229,229,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v72656_217 {
  width: 445px;
  height: 182px;
  background: rgba(119,119,119,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 32px;
  border: 0px solid rgba(150,150,150,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v72656_218 {
  width: 443px;
  height: 38px;
  background: url("../images/v72656_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 323px;
  left: 32px;
  overflow: hidden;
}
.v72656_219 {
  width: 443px;
  height: 158px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v72656_222 {
  width: 443px;
  height: 38px;
  background: url("../images/v72656_222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72656_223 {
  width: 443px;
  height: 38px;
  background: rgba(2,117,216,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(2,117,216,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v72656_224 {
  width: 268px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 88px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72656_221 {
  width: 443px;
  color: rgba(55,58,60,1);
  position: absolute;
  top: 237px;
  left: 33px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72656_201 {
  width: 467px;
  color: rgba(55,58,60,1);
  position: absolute;
  top: 237px;
  left: 523px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72656_144 {
  width: 145px;
  height: 121px;
  background: url("../images/v72656_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 978px;
  left: 367px;
  overflow: hidden;
}
.v72656_140 {
  width: 866px;
  height: 121px;
  background: url("../images/v72656_140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 978px;
  left: 0px;
  overflow: hidden;
}
.v72656_141 {
  width: 835px;
  color: rgba(55,58,60,1);
  position: absolute;
  top: 8px;
  left: 32px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v72656_142 {
  width: 7px;
  height: 121px;
  background: rgba(151,151,151,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(151,151,151,1);
  overflow: hidden;
}
.v72661_122 {
  width: 445px;
  height: 180px;
  background: url("../images/v72661_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 609px;
  left: 32px;
  overflow: hidden;
}
.v72660_117 {
  width: 1010px;
  height: 554px;
  background: url("../images/v72660_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 1px;
  overflow: hidden;
}
.v72661_124 {
  width: 467px;
  height: 180px;
  background: url("../images/v72661_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 609px;
  left: 23px;
  overflow: hidden;
}
.v72660_109 {
  width: 49px;
  height: 44px;
  background: url("../images/v72660_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 448px;
  overflow: hidden;
}
.v72660_114 {
  width: 200px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 202px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72670_75 {
  width: 50px;
  height: 45px;
  background: url("../images/v72657_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1000px;
  left: 900px;
  overflow: hidden;
  }
3:45 AM 5/12/2023