* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v72656_226 {
  width: 926px;
  height: 1213px;
  background: url("../images/v72656_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72656_227 {
  width: 764px;
  height: 84px;
  background: url("../images/v72656_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 340px;
  left: 0px;
  overflow: hidden;
}
.v72656_228 {
  width: 143px;
  color: rgba(55,58,60,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72656_230 {
  width: 764px;
  height: 38px;
  background: url("../images/v72656_230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}
.v72656_231 {
  width: 764px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(204,204,204,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v72656_232 {
  width: 114px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 7px;
  left: 23px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72656_233 {
  width: 764px;
  height: 70px;
  background: url("../images/v72656_233.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 461px;
  left: 0px;
  overflow: hidden;
}
.v72656_234 {
  width: 100px;
  color: rgba(55,58,60,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72656_235 {
  width: 764px;
  height: 38px;
  background: url("../images/v72656_235.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  overflow: hidden;
}
.v72656_236 {
  width: 764px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(102,175,233,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v72656_237 {
  width: 100px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 9px;
  left: 23px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72656_238 {
  width: 1px;
  height: 16px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 23px;
  border: 1px solid rgba(51,51,51,1);
  overflow: hidden;
}
.v72656_239 {
  width: 764px;
  height: 70px;
  background: url("../images/v72656_239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 0px;
  overflow: hidden;
}
.v72656_240 {
  width: 764px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border: 1px solid rgba(204,204,204,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v72656_241 {
  width: 214px;
  color: rgba(55,58,60,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72656_246 {
  width: 765px;
  height: 122px;
  background: url("../images/v72656_246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 663px;
  left: 0px;
  overflow: hidden;
}
.v72656_247 {
  width: 765px;
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border: 1px solid rgba(204,204,204,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v72656_248 {
  width: 240px;
  color: rgba(55,58,60,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72656_250 {
  width: 764px;
  height: 167px;
  background: url("../images/v72656_250.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 816px;
  left: 0px;
  overflow: hidden;
}
.v72656_251 {
  width: 764px;
  height: 135px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border: 1px solid rgba(204,204,204,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v72656_252 {
  width: 241px;
  color: rgba(55,58,60,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72656_277 {
  width: 142px;
  height: 38px;
  background: url("../images/v72656_277.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1000px;
  left: 0px;
  overflow: hidden;
}
.v72656_278 {
  width: 142px;
  height: 38px;
  background: rgba(2,117,216,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(2,117,216,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v72656_279 {
  width: 99px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 23px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72657_72 {
  width: 926px;
  height: 114px;
  background: url("../images/v72657_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1099px;
  left: 0px;
  overflow: hidden;
}
.v72657_73 {
  width: 892px;
  color: rgba(55,58,60,1);
  position: absolute;
  top: 7px;
  left: 34px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v72657_74 {
  width: 7px;
  height: 114px;
  background: rgba(236,238,239,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v72657_75 {
  width: 50px;
  height: 45px;
  background: url("../images/v72657_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1150px;
  left: 800px;
  overflow: hidden;
}
.v72660_110 {
  width: 48px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 56px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72663_126 {
  width: 926px;
  height: 295px;
  background: url("../images/v72663_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 0px;
  overflow: hidden;
}
.v72669_81 {
  width: 926px;
  height: 45px;
  background: rgba(42,44,46,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72669_82 {
  width: 200px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 141px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v72669_83 {
  width: 49px;
  height: 44px;
  background: url("../images/v72669_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 60px;
  overflow: hidden;
}
